* {
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
}

#latest-item h3,
#categories h3,
#add-item {
    display: inline;
}

.list-group {
    margin-top: 1em;
}