<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Item Catalog | Add Item</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header col-xs-4">
                        <a class="navbar-brand" href="{{ url_for('home') }}">Item Catalog</a>
                    </div>
                    <div class="col-xs-8">
                        {% if not login_session['email'] %}
                        <a href="{{ url_for('login') }}" class="btn btn-default navbar-btn navbar-right">Login</a>
                        {% else %}
                        <a href="{{ url_for('gdisconnect') }}" class="btn btn-default navbar-btn navbar-right">Logout</a>
                        <p class="navbar-text navbar-right">Signed in as {{ login_session['username'] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <h4>Add Item</h4>
        <form action="{{ url_for('item_add') }}" method="post">
            <input type="hidden" name="user_id" value="{{ login_session['id'] }}">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" size="80" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="10" name="description" id="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="category_id">Category</label>
                <select class="form-control" name="category_id" id="category_id">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" class="btn btn-default" value="Create">
            <a class="btn btn-default" href="{{ url_for('home') }}">Cancel</a>
        </form>
    </div>
</body>

</html>