<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Catalog | {{ item.name }}</title>
</head>

<body>
    <h3>{{ item.name }}</h3>
    <p>{{ item.description }}</p>
    {% if login_session['email'] %}
    <p>
        <a href="{{ url_for('item_edit', item_id=item.id) }}">Edit</a>
        <a href="{{ url_for('item_delete', item_id=item.id) }}">Delete</a>
    </p>
    {% endif %}
</body>

</html>